-provide(:title, "Sign up")
%h2 Sign up
.row
  .col-md-6
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = render 'shared/error_messages', object: f.object
      .form-group
        = f.label :name
        = f.text_field :name, :autofocus => true
      .form-group
        = f.label :email
        = f.email_field :email
      .form-group
        = f.label :password
        = f.password_field :password
      = f.submit "Create my account", :class => "btn btn-lg btn-primary "
    %hr.spacer
    = render "devise/shared/links"


