%h5.red= "#{quote.source_detail} | #{quote.source_location}"
- display_date = quote.display_date ? quote.display_date.strftime('%D') : "none"
%p= "Display Date: #{display_date}"
%p=highlight(simple_format(quote.content), query).html_safe
%hr