%header
  .container
    .row.no-margin
      .col-sm-2{style: "padding-right: 0;"}
        %h1.text-hide 
          Krishnamurti Information Network
        = link_to (image_tag "kinfonet-logo.png", class: "img-responsive", alt: "logo"), root_path, class: "hidden-xs"
      .col-sm-10.col-md-8
        .quote-of-the-day
          %p= link_to @quote_of_the_day.phrase, @quote_of_the_day, class: "plain"
        %footer
          .row
            .col-xs-6.small= link_to "Krishnamurti Quote of the Day", @quote_of_the_day, class: "plain"
            .col-xs-6.text-right.small= link_to "#{@quote_of_the_day.source_location} | #{@quote_of_the_day.source_detail}", @quote_of_the_day, class: "plain"


            


