!!!
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    /[if lt IE 9]
      %script{src: "http://html5shim.googlecode.com/svn/trunk/html5.js"}
      = javascript_include_tag "respond.js"
  %body
    %header.nav-bar.kinfonet-nav{role: "banner"}<
      %nav.container
        .brand
          =link_to "kinfonet.", root_path
        %ul.nav.navbar-nav.span
          %li.active<
            =link_to "Krishnamurti", "#"
          %li<
            =link_to "Forums", "#"
          %li<
            =link_to "Articles", "#"
          %li<
            =link_to "People", "#"
          %li<
            =link_to "Events", "#"
          %li<
            =link_to "Places", "#"
          %li<
            =link_to "Projects", "#"
          %li<
            =link_to "Classifieds", "#"
          - unless user_signed_in?
            %li.sign-up<
              =link_to "Sign up", sign_up_path
            %li.sign-in<
              =link_to "Sign in", sign_in_path
          - else
            %li.sign-out<
              =link_to "Sign out", sign_out_path
        %hr
       
    .container
      = render :partial => 'shared/flash', :locals => {:flash => flash} 
      = yield