!!!
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body{:id => "kin-#{controller_name}-#{action_name}", :class => "kin-#{controller_name}"}
    = render "layouts/header"
    .container
      .row
        .col-md-10.col-md-offset-1
          .jumbotron.excerpt
            .row
              .col-md-2.clear-fix
                =image_tag "k-reading-left.png", class: "img-responsive pull-right;"
              .col-md-9
                %blockquote.style1.clearfix
                  %h4{style: "color: #f0ad4e;"} Quote of the Day

                  %p I am saying that there is a different way of life, a way that is not of self-expansion, in which there is ecstasy, but it has no validity if you merely accept my statement; such acceptance will become another form of egotistic activity.
                  %small.pull-right 
                    J. Krishnamurti

    %hr.spacer
    .container
      .jumbotron
        %h1 Best Vacation Rentals
        %p Sed placerat fringilla quam et.
        %a.btn.btn-primary.btn-lg Start Now!     
    .container
      = render :partial => 'shared/flash', :locals => {:flash => flash} 
      = yield